[submodule "external/JOCLRoot/JOCL"]
	path = external/JOCLRoot/JOCL
	url = git@github.com:gpu/JOCL.git
[submodule "external/JOCLRoot/JOCLCommon"]
	path = external/JOCLRoot/JOCLCommon
	url = git@github.com:gpu/JOCLCommon.git
[submodule "external/pocl"]
	path = external/pocl
	url = git@github.com:pocl/pocl.git
[submodule "external/libopencl-stub"]
	path = external/libopencl-stub
	url = git@github.com:krrishnarraj/libopencl-stub.git
