[submodule "external/JOCLRoot/JOCL"]
	path = external/JOCLRoot/JOCL
	url = git@github.com:cpc/JOCL.git
[submodule "external/JOCLRoot/JOCLCommon"]
	path = external/JOCLRoot/JOCLCommon
	url = git@github.com:gpu/JOCLCommon.git
[submodule "external/pocl"]
	path = external/pocl
	url = git@github.com:pocl/pocl.git
